<select id="house-selector" name="House">
  <option value="/search" selected="selected">Gryffindor</option>
  <option value="/search">Ravenclaw</option>
  <option value="/search">Slytherin</option>
  <option value="/search">Hufflepuff</option>
</select>