<select id="house-selector" name="House">
  <option value="1" selected="selected">Gryffindor</option>
  <option value="2">Ravenclaw</option>
  <option value="3">Slytherin</option>
  <option value="4">Hufflepuff</option>
</select>